@import "tailwindcss";
@import "tw-animate-css";

/* LIGHT THEME */
:root {
  --background: oklch(0.985 0.003 260);
  --foreground: oklch(0.142 0.021 260);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0.015 260);

  --primary: oklch(0.61 0.18 254);
  --primary-foreground: oklch(0.98 0 0);

  --secondary: oklch(0.94 0.01 260);
  --secondary-foreground: oklch(0.22 0.02 260);

  --accent: oklch(0.72 0.13 190);
  --accent-foreground: oklch(0.15 0 0);

  --muted: oklch(0.95 0.01 250);
  --muted-foreground: oklch(0.55 0.015 260);

  --border: oklch(0.90 0.005 260);
  --input: oklch(0.90 0.005 260);

  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0.15 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --ring: oklch(0.61 0.18 254);

  --radius: 0.625rem;

  --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
}

/* DARK MODE */
.dark {
  --background: oklch(0.16 0.02 260);
  --foreground: oklch(0.98 0 0);

  --card: oklch(0.22 0.01 260);
  --card-foreground: oklch(0.98 0 0);

  --primary: oklch(0.73 0.16 254);
  --primary-foreground: oklch(0.15 0 0);

  --secondary: oklch(0.30 0.01 260);
  --secondary-foreground: oklch(0.98 0 0);

  --accent: oklch(0.68 0.12 190);
  --accent-foreground: oklch(0.98 0 0);

  --muted: oklch(0.28 0.01 260);
  --muted-foreground: oklch(0.72 0.015 260);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);

  --popover: oklch(0.22 0.01 260);
  --popover-foreground: oklch(0.98 0 0);

  --destructive: oklch(0.704 0.191 22.216);
  --ring: oklch(0.73 0.16 254);

  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 0 0% 98%;
  --sidebar-primary-foreground: 240 5.9% 10%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-destructive: var(--destructive);
  --color-ring: var(--ring);

  --radius: var(--radius);
}

/*base styles*/
body {
  @apply bg-background text-foreground antialiased;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}
